@import "vars";

*{
    background-color: red;
}

.secondary__title {
    color: hotpink;
}

.main__title {
    color: $primary-color;
}




.description__text {
    font-family: $primary-font;
    color: $secondary-color;
}

.flext__container {
    display: flex;
    .flex__item {
        width: 110px;
        height: 110px;
        background-color: white;
        border: 3px dotted hotpink;
    }
}